<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deliciousness | {{translation.Main page}}</title>
    <link rel="stylesheet" type="text/css" href="/build/styles.trunk.css">
</head>
<body>

<div id="sideMenu" class="b-side-menu text-center">
    <div class="b-side-menu__lang">
        <a href="#" class="b-side-menu__lang--option" onclick="changeCookiesLang('en')">en</a>
        <a href="#" class="b-side-menu__lang--option" onclick="changeCookiesLang('ru')">ru</a>
        <a href="#" class="b-side-menu__lang--option" onclick="changeCookiesLang('uk')">uk</a>
    </div>
    <a href="#" class="b-side-menu__close-btn" onclick="closeSideMenu()">&times;</a>
    {{#categories}}
        <a class="link flex_column_align-center" href="/category/{{category_name}}">
            <img class="rounded-image" src="/images/all_categories/{{category_name}}.jpg"
                 alt="{{category_name}}" width="125"/>
            <h4>{{category}}</h4>
        </a>
    {{/categories}}
</div>

<nav class="b-top-panel flex_align-center_justify-between margin-bottom-20">
    <img src="/images/menu-icon.svg" onclick="openSideMenu()" class="b-top-panel__menu-icon" width="35" height="26" />
    <div>
        <form style="display: flex; align-items: center; margin: 20px;" action="/search">
            <input class="b-top-panel__search-input"
                   type="search" name="phrase" placeholder="{{translation.Search}}" maxlength = "50"/>
            <button class="b-top-panel__search-button" type="submit">
                <span class="b-top-panel__search-icon"></span>
            </button>
        </form>
    </div>
    <div class="b-top-panel__logo">
        <a href="/">
            <img src="/images/logo.png" alt="logo"/>
        </a>
    </div>
</nav>

<section class="flex_wrap_align-start">
    {{#allRecipes}}
        <a href="/{{name}}" class="b-recipe-item link text-center">
            <img class="image" src="/images/all_recipes/{{name}}_280x210.png" alt="{{name}}" width="280"/>
            <h2>{{title}}</h2>
        </a>
    {{/allRecipes}}
    <a href="#" class="b-recipe-item link text-center"></a>
    <a href="#" class="b-recipe-item link text-center"></a>
    <a href="#" class="b-recipe-item link text-center"></a>
    <a href="#" class="b-recipe-item link text-center"></a>
    <a href="#" class="b-recipe-item link text-center"></a>
</section>

<script src="/scripts/openSideMenu.js"></script>
<script src="/scripts/closeSideMenu.js"></script>

<script src="/scripts/changeCookiesLang.js"></script>

</body>
</html>