.b-top-panel {
    background-color: var(--yellow);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    left: 0;
    position: sticky;
    top: 0;
    z-index: 1;
}

.b-top-panel__menu-icon {
    cursor: pointer;
    margin: 20px 0 20px 20px;
}

.b-top-panel__search-form {
    background-color: var(--white);
    display: flex;
    align-items: center;
    margin: 20px;
    border: 2px solid var(--black);
    border-radius: 10px;
}

.b-top-panel__search-input {
    background: var(--white) url('/images/search-icon_black.svg') no-repeat 10px 50%;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    height: 35px;
    line-height: 1.42857143;
    padding: 6px 12px 6px 40px;
    width: 200px;
    transition: width 0.5s;
}

.b-top-panel__search-button {
    background: var(--black) url('/images/search-icon_white.svg') no-repeat 50%;
    border: 0;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    display: none;
    height: 35px;
    width: 55px;
}

.b-top-panel__search-input:focus {
    background-image: none;
    padding-left: 12px;
    width: 350px;
}

.b-top-panel__search-input:focus ~ .b-top-panel__search-button {
    display: block;
}

.b-top-panel__logo {
    margin: 5px 10px 0 0;
}

.b-side-menu {
    background-color: var(--white);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.26);
    height: 100%;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    position: fixed;
    top: 0;
    transition: width 0.5s;
    width: 0;
    z-index: 2;
}

.b-side-menu__lang {
    display: flex;
    left: 25px;
    position: absolute;
    top: 15px;
}

.b-side-menu__lang--option {
    border-right: 1px solid var(--black);
    color: var(--black);
    font-size: 20px;
    padding: 0 5px;
}

.b-side-menu__lang--option:last-child {
    border-right: none;
}

.b-side-menu__lang--option:hover {
    text-decoration: underline;
}

.b-side-menu .b-side-menu__close-btn {
    color: var(--black);
    font-size: 36px;
    margin-left: 50px;
    position: absolute;
    right: 25px;
    top: 0;
}

.b-side-menu__all {
    border-top: 2px solid var(--black);
    margin: 0 15px;
}

.b-recipe-item {
    flex: 1 0 280px;
    margin: 10px;
}

.b-recipe-item:empty {
    height: 0;
    margin: 0 10px;
}

.b-recipe-item:hover {
    opacity: 0.8;
}

.b-current-recipe__list {
    font-size: 20px;
    line-height: 1.5;
}
